:root {
  --prim-col-one: #f2f2f2;
  --prim-col-two: #f0dccb;
  --prim-col-three: #dbd6f0;
}

.start {
  font-size: 16px;

  & #start-forms {
    background-color: var(--prim-col-one);
    padding: 10px;

    & button,
    & input {
      border-color: var(--prim-col-two);
      border-style: solid;
      border-width: 2px;
    }

    & p {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    & #station-form {
      text-align: center;
    }

    & #schedule-form {
      & p {
        margin-bottom: 0;
      }

      & label {
        display: inline-block;
        font-size: 12px;
        overflow: hidden;
        position: relative;
        text-align: right;
        width: 50%;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          height: 50px;
        }

        & span {
          display: inline-block;
          height: 15px;
          margin-right: 3px;
          text-transform: uppercase;
        }

        & input {
          display: inline-block;
          float: right;
          height: 15px;
          width: 65%;
        }

        & button {
          bottom: 0;
          position: absolute;
          right: 0;
        }
      }

      & input[type=submit] {
        display: block;
        margin: 20px auto;
      }
    }
  }

  & .more-info {
    &.sike {
      display: none;
    }
  }

  & .schedules {
    padding: 10px;
    background-color: var(--prim-col-three);
    word-wrap: 'break-word';
  }
}
